# Ignore everything
/*
/*/

# But not these files...
!README.md
!.gitignore
!config.js
!interface_config.js
!friendcrawl.net-config.js
!webpack.config.js
!package.json
!package-lock.json

!css/
!modules/
!react/
!images/
!www/
!static/
static/data/env.json
*/*.DS_Store